## Creating a series

In [1]:
import pandas as pd


data = pd.Series([1,2,3,4])
#data structure
print(data)

print()
#data array values
print(data.values)

print()
#index range
print(data.index)

0    1
1    2
2    3
3    4
dtype: int64

[1 2 3 4]

RangeIndex(start=0, stop=4, step=1)

## index could be altered to strings

In [2]:
x = pd.Series([1,2,3,4], index=['a','b','c','d'])

#string indexing
print(x)

print()
#values
x.values

a    1
b    2
c    3
d    4
dtype: int64

array([1, 2, 3, 4])

## Dictionaries to series
#### coverts into series with the sorted form according to the keys

In [3]:
population_dict = {
    'delhi': 112345,
    'mumbai': 1244,
    'gujrat': 613892,
    'chennai': 635263
}

population = pd.Series(population_dict)
print(population)

print()
#slicing
population['delhi':'gujrat']

delhi      112345
mumbai       1244
gujrat     613892
chennai    635263
dtype: int64

delhi     112345
mumbai      1244
gujrat    613892
dtype: int64

## Constructing series objects

In [4]:
a = pd.Series([1,2,3,4], index =[10,700,1000,1231])
print(a)

10      1
700     2
1000    3
1231    4
dtype: int64

## Series with some elements None

In [14]:
import pandas as pd
a = pd.Series([None,2,3,None,4,5], index=list('abcdef'))
a

a    NaN
b    2.0
c    3.0
d    NaN
e    4.0
f    5.0
dtype: float64

## Working on a series with some nulls
#### 1d series

In [9]:
import pandas as pd
x = pd.Series([1,2,3,None, 5,6, None])
print(x)

print()
#isnull() function will let you know the places in true,false form
a = x.isnull()
print(a)

print()
#to fill the NaN with value, fillna(0)
b = x.fillna(0)
print(b)

print()
#forward fill NaN
c = x.fillna(method="ffill")
print(c)

print()
#back fill NaN
d = x.fillna(method="bfill")
print(d)

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    6.0
6    NaN
dtype: float64

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

0    1.0
1    2.0
2    3.0
3    0.0
4    5.0
5    6.0
6    0.0
dtype: float64

0    1.0
1    2.0
2    3.0
3    3.0
4    5.0
5    6.0
6    6.0
dtype: float64

0    1.0
1    2.0
2    3.0
3    5.0
4    5.0
5    6.0
6    NaN
dtype: float64

#### 2d series

In [40]:
a = pd.DataFrame([[1,np.nan,3,4],
               [4,5,np.nan,7],
               [8,9,10,np.nan]])
print(a)


print()
print(a.isnull())

pr

   0    1     2    3
0  1  NaN   3.0  4.0
1  4  5.0   NaN  7.0
2  8  9.0  10.0  NaN

       0      1      2      3
0  False   True  False  False
1  False  False   True  False
2  False  False  False   True